#link1 {
  
}
#link2 {
 
}
#link3 {
 
}
#header {
 top: 0px;
 height: 25%;
 width: 100%;
 background-color: rgb(213, 32, 45);
}
#headerBox {
 margin: 20px;
}
.unselected {
 color: rgb(255, 255, 255);
 text-decoration: none;
}
.selected {
 color: rgb(64, 117, 227);
 text-decoration: none;
}
a:hover {
 color: rgb(115, 193, 93);
}
