#link1 {
  
}
#link2 {
 
}
#link3 {
 
}
.unselected {
 color: rgb(200,15,190);
 text-decoration: none;
}
.selected {
 color: rgb(0,0,0);
 text-decoration: none;
}
a:hover {
 color: rgb(5,190,60);
}
.header {
 top: 0px;
 margin: 10px;
}
