body {
 top: 0;
 padding: 0;
 border: 0;
 margin: 0;
 display: block;
 position: fixed;
}
#link1 {
 padding: 0;
 border: 0;
 margin: 0;
 display: block;
 position: fixed;
}
#link2 {
 padding: 0;
 border: 0;
 margin: 0;
 display: block;
 position: fixed;
}
#link3 {
 padding: 0;
 border: 0;
 margin: 0;
 display: block;
 position: fixed;
}
#header,
.box {
 border-radius: 6px;
}
#header {
 top: 0;
 height: 10%;
 width: 100%;
 padding: 0;
 border: 0;
 margin: 0;
 display: block;
 position: fixed;
 background-color: rgb(10, 10, 10);
 overflow: auto;
}
.box {
 width: 29.615861214%;
 padding: 20px 0;
 border: 0;
 margin: 1.858736059%;
 float: left;
 text-align: center;
 background-color: rgb(210, 210, 210);
}
.unselected {
 color: rgb(255, 255, 255);
 text-decoration: none;
}
.selected {
 color: rgb(64, 117, 227);
 text-decoration: none;
}
a:hover {
 color: rgb(115, 193, 93);
}
.buttons {
 display: inline-block;
 border-radius: 4px;
 background-color: #f4511e;
 border: none;
 color: #FFFFFF;
 text-align: center;
 font-size: 28px;
 padding: 20px;
 width: 200px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;
 float: left;
 text-align: center;
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}
